<div class="container">
    <h1>{{title}}</h1>
    <div class="products-grid">
        {{#each products}}
            <div class="product-card">
                <div class="product-image">
                    {{#if thumbnails.[0]}}
                        <img src="/img/{{thumbnails.[0]}}" alt="{{title}}">
                    {{else}}
                        <img src="/img/placeholder.jpg" alt="{{title}}">
                    {{/if}}
                </div>
                <div class="product-info">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    <p class="price">${{price}}</p>
                    <p class="category">{{category}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>